DATABASE_URL=postgresql://postgres:postgres@localhost:5432/booking_db
APP_ENV=development
SECRET_KEY=zmien_to_na_dlugi_losowy_secret_minimum_32_znaki
ACCESS_TOKEN_EXPIRE_MINUTES=1440
FRONTEND_URL=http://localhost:8000/static
DEV_PRINT_EMAILS=true
BUSINESS_START_HOUR=9
BUSINESS_END_HOUR=17
SLOT_MINUTES=30
REMINDER_HOURS_BEFORE=24
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=your_email@gmail.com
SMTP_USE_TLS=true
